<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><img alt="NDX Catalog" src="/images/ndx-logo-text-long.png" height="42px"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/extensions">Extensions</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li class="dropdown-header"><b>About</b></li>
                 <li><a href="{{ site.url }}{{ site.baseurl }}/overview">Project Overview</a></li>
                 <li class="divider"></li>
                 <li class="dropdown-header"><b>News & Publications</b></li>
                 <li><a href="{{ site.url }}{{ site.baseurl }}/news">News</a></li>
              </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Resources<span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="{{ site.url }}{{ site.baseurl }}/docs">Documentation</a></li>
                 <li><a href="https://github.com/nwb-extensions" target="_blank">GitHub Organization</a> </li>
                 <li class="dropdown-header"><b>Guidelines and Rules</b></li>
                 <li><a href="{{ site.url }}{{ site.baseurl }}/versioning_guidelines">Versioning Guidelines</a></li>
                 <li><a href="{{ site.url }}{{ site.baseurl }}/sharing_guidelines">Sharing Guidelines</a></li>
                 <li><a href="{{ site.url }}{{ site.baseurl }}/sharing_strategies">Sharing Strategies</a></li>
              </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
